@using Layers.Application.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TestsExample.Helpers.Common
@using TestsExample.Services.IdentityProvider
@model TestsExample.Models.TheWallModel
@inject IIdentityProvider IdentityProvider

@{
    ViewData["Title"] = "Стена";
}

<div class="d-flex flex-column align-items-center">
    <h1 class="text-center">Стена</h1>

    <form method="get" asp-action="TheWall" class="d-flex justify-content-between col-md-6 mb-3">
        <select asp-for="Sort" asp-items="Html.GetEnumSelectList(typeof(Sort))" class="form-select me-2 w-auto"></select>
        <button type="submit" class="btn btn-info">Применить</button>
    </form>

    @foreach (var post in Model.Posts)
    {
        <form class="mb-4 col-md-6" method="post" asp-controller="Home" asp-action="DeletePost" asp-route-postId="@post.Id">
            <div class="card">
                <div class="card-header">
                    <strong>@post.Author</strong>
                    <small class="text-muted">@post.PublicationDateTime.ToLocalTime().ToString("g")</small>
                    @if (IdentityProvider.User?.GetName() == post.Author)
                    {
                        <input class="btn btn-sm btn-outline-danger"
                               type="submit"
                               value="Удалить"
                               style="float: right"/>
                    }
                </div>
                <div class="card-body">
                    <h2 class="card-title">@post.Title</h2>
                    <p class="card-text">@post.Content</p>
                </div>
            </div>
        </form>
    }
</div>